@import url("https://fonts.googleapis.com/css?family=Roboto&amp;display=swap");

:root {
  --dark-color-a: #36383c;
  --dark-color-b: #36383c;
  --light-color: #7286d1;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: #36383c;
  margin: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  padding: 5px 15px;
  background: var(--light-color);
  color: var(--dark-color-a);
  border: 0;
  font-size: 17px;
}

#leave-btn {
  color: #ff0000;
  transition: 0.3s;
}

#leave-btn:hover {
  background-color: black;
  color: #ffffff;
  transition: 0.3s;
}

.zt {
  cursor: pointer;
  padding: 5px 15px;
  background: var(--light-color);
  color: var(--dark-color-a);
  border: 0;
  font-size: 17px;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* Chat Page */

.chat-container {
  max-width: 1100px;
  background: #ffffff;
  margin: 30px auto;
  overflow: hidden;
}

.chat-header {
  background-color: var(--dark-color-b);
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
  background: var(--dark-color-b);
  color: #ffffff;
  padding: 20px 20px 60px;
  overflow-y: scroll;
}

.chat-sidebar h2 {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.chat-sidebar h3 {
  margin-bottom: 15px;
}

.chat-sidebar ul li {
  padding: 10px 0;
}

.chat-messages {
  padding: 30px;
  max-height: 600px;
  overflow-y: scroll;
  background-color: var(--dark-color-b);
  transition: 2s;
}

.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--dark-color-b);
  color: #ffffff;
  border-radius: 5px;
  overflow-wrap: break-word;
  transition: 2s;
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 7px;
  transition: 2s;
}

.chat-messages .message .meta span {
  color: #ffffff;
  transition: 2s;
}

.chat-form-container {
  padding: 20px 30px;
  background-color: var(--dark-color-a);
}

.chat-form-container form {
  display: flex;
}

.chat-form-container input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 35px;
  width: 75%;
  flex: 1;
}

/* Join Page */
.join-container {
  max-width: 500px;
  margin: 80px auto;
  color: var(--light-color);
}

.join-header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  padding: 20px;
  background: var(--dark-color-b);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.join-main {
  padding: 30px 40px;
  background: var(--dark-color-b);
}

.join-main p {
  margin-bottom: 20px;
}

.join-main .form-control {
  margin-bottom: 20px;
}

.join-main label {
  display: block;
  margin-bottom: 5px;
}

.join-main input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main select {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main .btn {
  margin-top: 20px;
  width: 100%;
}

@media (max-width: 700px) {
  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }
}
input {
  background-color: #36383c;
  border: 1px #282a2e groove;
  color: white;
  bottom: 0;
}
select {
  background-color: #36383c;
  border: 1px #282a2e groove;
  color: var(--light-color);
}

*:focus {
  outline: none;
  color: white;
}

#RESTRICTED {
  background-color: red;
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

option {
  font-size: 17px;
}

input:focus {
  color: lightgrey;
}

.fre {
  font-size: 16px;
  background-color: var(--light-color);
  font-size: 18px;
  width: 100%
}